<div class="footer__mobile-section">
   <div class="footer__blocks--mobile">
      <div class="footer__block--mobile">
         <ul class="footer__menu footer__menu--underline">
            <li>
               <div class="main_whatspp_icon_text">
                  <span class="icon-and-text">
                  
                     <a href="tel:+917975421029">
                        <span><strong>Call:</strong></span> +91 79754 21029
                     </a>
                  </span>
               </div>
            </li>
            <li>
               <a href="mailto:business@bioweal.com">
                  <span class="icon-and-text">
                     <strong>Email:</strong> business@bioweal.com
                  </span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>
