{% if collection.image != blank %}
<div class="collection-banner-image">
  {{
    collection.image
    | image_url: width: 1800
    | image_tag:
      alt: collection.title,
      widths: '480, 720, 960, 1200, 1600, 1800',
      sizes: '100vw',
      loading: 'eager',
      fetchpriority: 'high'
  }}
</div>
{% endif %}

 
{% schema %}
    {
        "name":"Collection Banner image",
        "tag":"section",
        "class": "collection-banner-image",
        "settings":[
            {
               "type": "header",
               "content":"Padding settings"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max":100,
                "default": 20,
                "step": 2,
                 "unit": "px",
                 "label": "Padding Top"
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Padding Bottom",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 2,
                "default": 20
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max":100,
                "default": 20,
                "step": 2,
                 "unit": "px",
                 "label": "Padding Top Mobile"
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "Padding Bottom Mobile",
                "min": 0,
                "max": 100,
                "unit": "px",
                "step": 2,
                "default": 20
            },
            {
                "type": "header",
                "content": "Heading Settings"
            },
            {
                "type": "text",
                "id": "heading_text",
                "label":"Heading"
            },
            {
                "type": "range",
                "id": "font_size",
                "min": 12,
                "max": 50,
                "default": 12,
                "step": 2,
                "unit":"px",
                "label":"Heading Font Size"
            },
            {
                "type": "range",
                "id": "font_weight",
                "min": 400,
                "max": 900,
                "default": 400,
                "step": 100,
                "label": "Font Weight"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color"
            }
        ],
        "presets": [
            {
                "name":"Collection Banner image"
            }
        ]
    }
    
{% endschema %}
        
