<div class="page-width" style="background-color: rgb(225 232 242);">
    <div class=" py-5 text-white">
        <div class="col-12">
            <h3 class="pb-3 h5">Where we stand</h3>
           </div>
     <div class="row justify-content-center text-center counting-numbers">
      <div class="col-md-3">
        <div class="counting-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="injected-svg" data-src="https://static.elfsight.com/icons/app-number-counter-handshake.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill-rule="evenodd" d="M33.865 14.577 28.36 5.472a.938.938 0 0 0-1.18-.373l-3.363 1.477L18.63 5.04a.937.937 0 0 0-.72.079l-5.973 3.303-3.441-2.203a.937.937 0 0 0-1.308.304l-5.054 8.36a.938.938 0 0 0 .299 1.276l2.126 1.356-.43.574a2.628 2.628 0 0 0 2.095 4.2c.05 0 .101-.003.152-.006a2.61 2.61 0 0 0 .98 1.504 2.611 2.611 0 0 0 1.72.52 2.6 2.6 0 0 0 .981 1.504 2.605 2.605 0 0 0 1.72.52c.136.58.467 1.12.981 1.504a2.623 2.623 0 0 0 3.675-.526l.084-.113 3.75 2.668a2.74 2.74 0 0 0 1.594.51 2.752 2.752 0 0 0 2.698-2.186 2.76 2.76 0 0 0 2.757-1.092 2.72 2.72 0 0 0 .512-1.587 2.745 2.745 0 0 0 1.906-1.122 2.71 2.71 0 0 0 .497-1.295 2.757 2.757 0 0 0 2.304-1.14 2.711 2.711 0 0 0 .479-2.043 2.72 2.72 0 0 0-1.114-1.783l-.91-.647 2.572-1.624a.938.938 0 0 0 .302-1.278zM6.83 20.113a.745.745 0 0 1-.494.292.75.75 0 0 1-.707-1.192l1.23-1.64a.75.75 0 0 1 1.2.9l-1.23 1.64zm2.7 2.024a.75.75 0 0 1-1.2-.9l1.23-1.64.865-1.155a.745.745 0 0 1 .494-.293.75.75 0 0 1 .707 1.192l-2.095 2.796zm2.702 2.023a.745.745 0 0 1-.494.293.745.745 0 0 1-.556-.142.745.745 0 0 1-.293-.494.745.745 0 0 1 .142-.556l2.095-2.795.381-.51a.745.745 0 0 1 .602-.3.745.745 0 0 1 .74.644.745.745 0 0 1-.141.556l-2.476 3.304zm3.93.384-1.23 1.64a.75.75 0 0 1-1.2-.9l1.23-1.64a.745.745 0 0 1 .493-.292.75.75 0 0 1 .707 1.192zm15.002-4.329a.85.85 0 0 1-.15.64.88.88 0 0 1-1.224.201l-.678-.483-3.785-2.691a.938.938 0 0 0-1.087 1.528l3.777 2.686a.86.86 0 0 1 .195 1.196.88.88 0 0 1-1.223.2l-.297-.21v-.001l-2.923-2.078a.937.937 0 1 0-1.086 1.528l2.915 2.073a.86.86 0 0 1 .196 1.197.88.88 0 0 1-1.224.2l-1.04-.74-1.573-1.12a.938.938 0 0 0-1.087 1.529l1.546 1.1a.855.855 0 0 1 .16 1.167.881.881 0 0 1-1.222.2l-3.712-2.642.02-.026a2.628 2.628 0 0 0-1.227-4.05c.254-.484.35-1.033.27-1.584a2.608 2.608 0 0 0-1.024-1.729 2.608 2.608 0 0 0-2.24-.438 2.608 2.608 0 0 0-.842-1.076 2.607 2.607 0 0 0-1.947-.498 2.62 2.62 0 0 0-.967.34 2.63 2.63 0 0 0-3.949-.59l-1.524-.973 4.083-6.754 1.776 1.137-1.175.65a.938.938 0 0 0-.482.757 3.735 3.735 0 0 0 .394 1.934 3.78 3.78 0 0 0 5.053 1.667l4.352-2.173 2.207.032 8.348 5.878 2.044 1.455c.19.134.314.334.352.561zm-1.828-3.91-8.073-5.683a.938.938 0 0 0-.526-.171l-2.724-.04H18a.937.937 0 0 0-.419.098l-4.556 2.276a1.9 1.9 0 0 1-2.543-.835 1.867 1.867 0 0 1-.166-.488l8.159-4.512 5.14 1.522c.212.063.44.048.643-.04l2.924-1.285 4.602 7.613-2.447 1.545z"></path></svg></div>
 
       <span id="count1" class="display-4">900+</span><span style="font-size: 16px;">+</span>
       <p>orders completed last year</p>
      </div>
      <div class="col-md-3">
        <div class="counting-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="injected-svg" data-src="https://static.elfsight.com/icons/app-number-counter-cart.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill-rule="evenodd" d="M33.062 2h-3.75a.937.937 0 0 0-.927.796l-.452 2.954H2.939a.938.938 0 0 0-.927 1.079l2.596 17c.07.458.464.796.927.796h19.51l-.165 1.08a.932.932 0 0 1-.927.795H6.187a.938.938 0 0 0-.385 1.792 3.73 3.73 0 0 0-.553 1.958A3.754 3.754 0 0 0 9 34a3.754 3.754 0 0 0 3.75-3.75c0-.683-.184-1.323-.504-1.875h5.384a3.726 3.726 0 0 0-.505 1.875 3.754 3.754 0 0 0 3.75 3.75 3.754 3.754 0 0 0 3.75-3.75c0-.685-.185-1.327-.507-1.88a2.796 2.796 0 0 0 2.616-2.38l3.384-22.115h2.945a.938.938 0 0 0 0-1.875zM8.999 32.125a1.877 1.877 0 0 1-1.875-1.875c0-1.034.841-1.875 1.875-1.875s1.875.841 1.875 1.875A1.877 1.877 0 0 1 9 32.125zm11.875 0A1.877 1.877 0 0 1 19 30.25c0-1.034.841-1.875 1.875-1.875s1.875.841 1.875 1.875a1.877 1.877 0 0 1-1.875 1.875zm-10-9.375H6.34L5.767 19h5.107v3.75zm0-5.625H5.481l-.592-3.875h5.985v3.875zm0-5.75H4.603l-.573-3.75h6.844v3.75zM19 22.75h-6.25V19H19v3.75zm0-5.625h-6.25V13.25H19v3.875zm0-5.75h-6.25v-3.75H19v3.75zm6.333 11.375h-4.458V19h5.032l-.574 3.75zm.86-5.625h-5.318V13.25h5.911l-.593 3.875zm.88-5.75h-6.198v-3.75h6.772l-.574 3.75z"></path></svg></div>
      
       <span id="count2" class="display-4">100</span><span style="font-size: 16px;">+</span>
       <p>items in our catalog</p>
      </div>
      <div class="col-md-3">
        <div class="counting-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="injected-svg" data-src="https://static.elfsight.com/icons/app-number-counter-clocks.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill-rule="evenodd" d="M17.938 2C26.67 2 34 9.054 34 17.938 34 26.767 26.715 34 17.937 34 9.065 34 2 26.68 2 17.937 2 9.129 9.129 2 17.938 2zm0 1.862c-7.755 0-14.075 6.321-14.075 14.075 0 7.823 6.32 14.2 14.075 14.2 7.823 0 14.2-6.377 14.2-14.2 0-7.754-6.377-14.075-14.2-14.075zm0 1.888c6.75 0 12.312 5.495 12.312 12.188 0 6.74-5.594 12.312-12.313 12.312-6.696 0-12.187-5.565-12.187-12.313 0-6.725 5.475-12.187 12.188-12.187zm.937 1.917v.896a.938.938 0 0 1-1.875 0v-.895a10.267 10.267 0 0 0-5.658 2.348l.63.63a.937.937 0 1 1-1.326 1.325l-.63-.629A10.267 10.267 0 0 0 7.668 17h.894a.938.938 0 0 1 0 1.875h-.895a10.458 10.458 0 0 0 2.37 5.762l.608-.608a.937.937 0 1 1 1.326 1.326l-.613.613A10.202 10.202 0 0 0 17 28.331v-.893a.938.938 0 0 1 1.875 0v.892c2.142-.2 4.12-1.082 5.71-2.418l-.556-.557a.937.937 0 1 1 1.326-1.326l.557.557c1.336-1.59 2.217-3.57 2.418-5.711h-.892a.938.938 0 0 1 0-1.875h.893a10.202 10.202 0 0 0-2.363-5.642l-.613.613a.934.934 0 0 1-.663.275c-.828 0-1.256-1.008-.663-1.6l.608-.61a10.458 10.458 0 0 0-5.762-2.369zm2.275 5.858a.937.937 0 1 1 1.325 1.325l-3.087 3.088 3.087 3.087a.937.937 0 1 1-1.325 1.325L17.4 18.6a.937.937 0 0 1 0-1.325z"></path></svg></div>
     
       <span id="count3" class="display-4">2</span> <span style="font-size: 10px;">Days</span>
       <p>average delivery time</p>
      </div>
      <div class="col-md-3">
      <div class="counting-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="injected-svg" data-src="https://static.elfsight.com/icons/app-number-counter-earth.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill-rule="evenodd" d="M32.727 11.836C30.242 6.014 24.469 2 17.937 2 9.055 2 2 9.329 2 18.063 2 26.87 9.128 34 17.938 34 26.68 34 34 26.936 34 18.062c0-2.15-.428-4.245-1.273-6.226zm-1.43 1.452c-1.642-1.3-3.764-2.207-5.795-2.784-.577-2.034-1.482-4.156-2.792-5.802a14.259 14.259 0 0 1 8.587 8.586zm-5.723 3.838a.938.938 0 0 1 .926.936.938.938 0 0 1-.926.937h-.011c-.016-.002-.031-.001-.047-.001a.938.938 0 0 1-.89-.935v-.001c0-.495.385-.9.871-.934h.007l.059-.001.01-.001zM18.875 4.03c1.797.593 3.438 2.846 4.502 5.972a28.753 28.753 0 0 0-4.502-.488V4.03zm0 7.36c1.775.057 3.492.279 5.083.65a25.16 25.16 0 0 1 .55 3.415 2.826 2.826 0 0 0-1.597 1.669h-4.036V11.39zm0 7.609h4.036a2.826 2.826 0 0 0 1.596 1.669 25.038 25.038 0 0 1-.521 3.302c-1.092.248-2.247.43-3.442.537a2.827 2.827 0 0 0-1.669-1.597V19zM13.161 4.718c-.63.807-1.203 1.781-1.702 2.91l-.084-.003a2.814 2.814 0 0 0-2.744 3.428c-1.545.584-2.864 1.32-3.91 2.16 1.425-3.939 4.532-7.067 8.44-8.495zm-.848 5.72a.939.939 0 0 1-1.876 0 .939.939 0 0 1 1.876 0zM9.668 12.67c.083.065.17.124.262.18a31.27 31.27 0 0 0-.415 4.275H4.027c.561-1.739 2.639-3.398 5.64-4.455zM9.514 19a29.43 29.43 0 0 0 .46 4.434C6.84 22.4 4.613 20.794 4.028 19h5.486zm-4.807 3.829c1.633 1.282 3.728 2.15 5.747 2.707.64 2.329 1.576 4.303 2.72 5.758a14.134 14.134 0 0 1-8.467-8.465zM17 31.966c-2.226-.747-3.704-3.726-4.439-5.947.87.161 1.768.283 2.686.364A2.824 2.824 0 0 0 17 28.213v3.753zm0-9.055a2.826 2.826 0 0 0-1.67 1.597 25.903 25.903 0 0 1-3.327-.517A26.792 26.792 0 0 1 11.39 19H17v3.911zm0-5.786h-5.61c.042-1.339.172-2.68.378-3.903a2.82 2.82 0 0 0 2.14-1.564A27.929 27.929 0 0 1 17 11.391v5.734zm0-7.61c-.982.03-1.952.105-2.9.226a2.816 2.816 0 0 0-.89-1.433c1.026-2.287 2.378-3.803 3.79-4.275v5.482zm.938 16.985a.938.938 0 0 1-.937-.926v-.011c.002-.016.001-.03.001-.046a.938.938 0 0 1 .936-.892c.501 0 .91.396.935.892v.046l.001.01a.938.938 0 0 1-.936.927zm.937 5.472v-3.758a2.825 2.825 0 0 0 1.753-1.83 28.696 28.696 0 0 0 2.786-.382c-.758 2.24-2.294 5.24-4.539 5.97zm3.872-.68c1.317-1.65 2.21-3.76 2.778-5.777 2.012-.559 4.13-1.436 5.773-2.722-1.425 3.942-4.578 7.076-8.551 8.5zm3.27-7.885c.163-.86.285-1.748.366-2.654a2.843 2.843 0 0 0 1.83-1.765h3.752c-.742 2.19-3.738 3.684-5.948 4.419zm2.197-6.282a2.825 2.825 0 0 0-1.831-1.753 27.72 27.72 0 0 0-.382-2.75c2.238.765 5.217 2.285 5.964 4.503h-3.751z"></path></svg></div>
       <span id="count4" class="display-4">28</span>
      <p> State wise we ship to</p>
      </div>
     </div>
    </div>

</div>

{% style %} 
.counting-numbers svg{
    height: 35px;
    width: 35px;
}
.counting-svg{
    display: flex;
    justify-content: center;
}
.col-md-3 p{
  width: 79%;
  margin: auto;
}
.counting-numbers{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
@media only screen and (max-width: 767px){
    .counting-numbers{
    flex-wrap: wrap;
}
.col-md-3 {
  width: 46%;
}
.col-md-3 p{
  width: 100%;
  margin: auto;
}
}
.py-5.text-white{
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 1rem;
   
}
.counting-numbers span{
    font-size: 32px;
}
{% endstyle %} 

{% schema %}
    {
    "name": "Counting Number",
    "settings": [
    {
    "type":"text",
    "id":"heading",
    "label":"Heading"
    },
    {
    "type": "header",
    "content": "padding"
    },
    {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "padding_top",
    "default": 36
    },
    {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "padding_bottom",
    "default": 36
    },
    {
    "type": "range",
    "id": "mpadding_top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "Mobile Padding Top",
    "default": 100
    },
    {
    "type": "range",
    "id": "mpadding_bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "Mobile Padding Bottom",
    "default": 100
    }
    
    ],
    "presets":[{
    "name": "Counting Number"
    }]
    }
    {% endschema %}