
.whatsapp__icon{position: fixed;bottom: 95px;right: 30px;width: 50px;height: 50px;overflow: hidden;z-index: 9999} @media screen and (min-width: 768px) {.template-product .whatsapp__icon {bottom: 190px;} }
.whatsapp__icon img{object-fit: contain;width: 100%;height: auto} @media only screen and (max-width: 767px) {.whatsapp__icon{bottom: 12rem;right: 5%;width: 50px;height: 50px; transition: 0.5s ease;}.template-product.shopify-body-section-header-sticky .whatsapp__icon{bottom: 165px;} }
div#one-click-popup-main-content .logo,
.whatsapp__icon{
  display: none !important;
}
.theme__header{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.casa_popup{
  padding: 12px 12px !important;
}
div#drawer-cart{
   display: none !important;
}
div#one-click-popup-main-content .logo{
    display: none !important;
}
div#one-click-popup-main-content .branding{
  display: none;
}
#one-click-popup-13553372974531 .logo{
  display: none !important;
}
@media only screen and (min-width: 768px) {
.product-single .product__inner {
    max-width: 88% !important;
}
}

.body-color{
background: var(--COLOR-BODY-COLOR); 
}
.product__grid__title__wrapper,
.product-variant-option{
  padding: 1rem;
}
.template-index .product-variant-option{
  width: 100%;
}

.product__grid__title__wrapper{
  text-align: left;
  padding: 1rem;
}
.product-variant-option{
  padding: 1rem;
}
.quickview.md\:w-full{
   padding: 1rem;
}
.template-index .product-grid-item__container{
      /* border: 1px solid #e5e4e2; */
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
/* background-color: #fcfaf7; */
}
 .template-index .product__grid__title{
   font-size: 18px;
   
 }
.template-index .product-variant-option{
 text-align: left;
}
 .template-index .label-name-variant{
   color: gray;
       text-transform: capitalize;
   
 }
.template-index .product-grid-item__image-wrapper{
  display: none;
}
.template-index .product-grid-item__image-wrapper.is-active{
   display: block !important;
}
.template-index .product-grid-item__image-wrapper{
  position: relative;
}
.quickview.md\:w-full{
  display: flex;
}
.product__grid__price--nowrap{
  display: contents !important;
}

.quickview button {
    width: 50%;
}


.add-to-cart-button-card {
  padding: 1rem;
}
.add-to-cart-button-card{
  width: 100%;  
  display: flex;
}
.add-to-cart-button-card .product-price-card-product{
    width: 100% !important;
  border: 1px solid #e5e4e2;
    border-radius: 3rem 0 0 3rem;
  background: white;
  z-index: 9999;
}

.radio__inputss:first-of-type .radio__buttonn:first-of-type label {
/* background-color: #FF5151; */
padding: 0 8px 3px 8px;
color: black;
}
.home-collection-list .product__grid__title {
display: -webkit-box;
-webkit-line-clamp: 2; /* Limits the text to 2 lines */
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
white-space: normal; /* Allows wrapping */
}
.template-index .product-variant-option{
margin-bottom: 0;
}
.template-index .product__grid__title__wrapper,
.template-index .product-variant-option{
padding-top:0;
padding-bottom:0;
}
.template-index .label-name-variant {
margin-bottom: 3px;
}
.radio__inputss:first-of-type .radio__buttonn:first-of-type label{
margin-left: 0;
}
.radio__buttonn label.button-for-open-quick-view{
padding: 0 4px 3px 8px;
}
.home-collection-list .product__grid__title,
.template-collection .product__grid__title {
font-size: 15px;
}
.template-collection .price.on-sale{
  font-weight: 400;
}
.home-collection-list span.radio__legend__label,
.home-collection-list .option-name,
 .home-collection-list .product-variant-value, .label-name-variant {
font-size: 12px;
}
.home-collection-list .radio__buttonn span {
font-size: 10px;
font-weight: 900;
}
.home-collection-list .radio__buttonn span{
  letter-spacing: 0;
      text-transform: capitalize;
}
.quickview button{
  border-radius: 10px 0 0 10px;
border: 1px solid #e5e4e2;
background-color: white;
}
button.stain-button-canvas.group\/quick-action-button.bg-button.flex.items-center.justify-center.type-accent.font-bold.text-r3.transition-opacity.duration-\[--enter-animation-duration\].pointer-events-auto.w-r12.aspect-square.min-w-\[40px\].min-h-\[40px\].md\:min-h-\[48px\].md\:px-r8.md\:py-r5.md\:w-full.md\:aspect-auto{
  border-radius: 0 3rem 3rem 0;
}
.quickview button{
border-radius: 3rem 0  0 3rem;
}
button.stain-button-canvas.group\/quick-action-button.bg-button.flex.items-center.justify-center.type-accent.font-bold.text-r3.transition-opacity.duration-\[--enter-animation-duration\].pointer-events-auto.w-r12.aspect-square.min-w-\[40px\].min-h-\[40px\].md\:min-h-\[48px\].md\:px-r8.md\:py-r5.md\:w-full.md\:aspect-auto{
  background: black;
color: white;
}
button.stain-button-canvas.group\/quick-action-button.bg-button.flex.items-center.justify-center.type-accent.font-bold.text-r3.transition-opacity.duration-\[--enter-animation-duration\].pointer-events-auto.w-r12.aspect-square.min-w-\[40px\].min-h-\[40px\].md\:min-h-\[48px\].md\:px-r8.md\:py-r5.md\:w-full.md\:aspect-auto .btn-state-ready{
 color: black !important;

}


